<%= render 'layouts/common_layout' %>

<div class="row">
  <div class="span6">
    <div class="well">
      <%= form_for @new_juice, :url => {:action => "add"} do |f| %>
          <%= f.text_field :name, :autofocus => true, :placeholder => "Enter Name" %></br>
          <%= f.text_field :price, :placeholder => "Enter Price" %></br>
          <%= f.submit "Add Juice", class: "btn btn-primary" %>
      <% end %>


      <% if flash[:error] %>
          <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong><%= flash[:error] %></strong>
          </div>
      <% end %>

      <% if flash[:success] %>
          <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong><%= flash[:success] %></strong>
          </div>
      <% end %>


      <%= form_tag("toggle", :method => "post") do %>
          <table class="table">
            <thead class="well">
            <tr>
              <th>availability</th>
              <th>Name</th>
              <th>Price</th>
            </tr>
            <tbody>

            <ul style="list-style-type:none;">
              <% @juices.each do |juice| %>
                  <tr>
                    <td><li style="color:grey;"> <%= check_box_tag "juice_checkbox[]", juice.id %> </li></td>
                      <td><%= juice.name %></td>
                      <td><%= juice.price %></td>
                  </tr>
              <% end %>
            </ul>
            </tbody>
          </table>

          <%= submit_tag("Mark", :class => "btn btn-success") %>
      <% end %>

    </div>
  </div>
</div>
